html {
    position: relative;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 75px;
    font: normal 12px/1.8em Arial, Helvetica, sans-serif;
    background-color: #d2d2d2;
    background-image: url("../images/background.png");
}

.header {
    width: 100%;
    height: auto;
    background-color: #365e79;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.centralwrapper {
    text-align: center;
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 5px;
}

.footer {
    width: 100%;
    padding: 20px;
    position: absolute;
    height: 50px;
    background-color: #00022e;
    color: white;
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.headertitle {
    font-weight: lighter;
    color: #FFFFFF;
}

.buttonsection {
    position: absolute;
    width: 100px;
    height: auto;
    margin-left: 85%;
    margin-top: -7%;
    text-align: center;
}

.searchboxtitle {
    margin-top: 2%;
    margin-left: 40px;
    text-align: left;
}

.bluetitles {
    color: #00022e;
    font-weight: bold;
}

.bluetitleslight {
    color: #00022e;
    font-weight: lighter;
}

.searchbox {
    box-shadow: 5px 5px 10px #888888;
    border-radius: 5px;
    margin-top: 0%;
    margin-left: 30px;
    margin-right: 40px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    top: 0px;
    padding: 20px;
}

.left {
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888888;
    width: 25%;
    height: auto;
    margin-left: 30px;
    margin-top: 60px;
    padding: 0px;
    background-color: #FFFFFF;
    text-align: center;
    float: left;
}

.leftblue {
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888888;
    width: 25%;
    height: auto;
    margin-left: 30px;
    margin-top: 60px;
    padding: 0px;
    background-color: #365e79;
    text-align: center;
    float: left;
}

.right {
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888888;
    width: 65%;
    height: auto;
    margin-right: 40px;
    margin-top: 60px;
    background-color: #FFFFFF;
    text-align: center;
    float: right;
    margin-bottom: 15%;
}

.hotelpictures {
    width: 75%;
    height: auto;
}

hr {
    opacity: 20%;
}

.webtitle {
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
    color: #365e79;
}

.webtitle2 {
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

.textitem {
    font-size: 14px;
    color: #00022e;
    text-align: justify;
}

.textitemlittle {
    color: #00022e;
    text-align: justify;
}

.regions {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #365e79;
}

.listicon {
    position: absolute;
    top: 20px;
    left: 40px;
}

input {
    color: gray;
}

.salesitem {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.formwhatpokemon {
    padding: 10px;
    padding-bottom: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid white;
    background-color: #d2d2d2;
    padding: 8px;
    text-align: center;
    width: 30%;
}